.neuromorph_card {
  border-radius: 50px;
  background: linear-gradient(145deg, rgb(164, 198, 209), #d7f6ff);
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

.neuromorph_internal {
  border-radius: 50px;
  background: inherit;
  box-shadow:
    inset 10px 10px 20px #bdccd6,
    inset -10px -10px 20px #cdebfd;
}
